*{
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(back.jpg);
}

.main{
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 1px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 0%;
}


ul{
    margin-top: -2%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10% 10px;
}
@media(max-width){
    ul li{
        padding: 3% 0px;
    }
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -3%;
}

ul li a{
    color: rgb(113, 16, 16);
}

ul li a:hover{
    color: rgb(54, 54, 154);
}


.info{
    margin-top: 6%;
    margin-left: 7%;
}

.info h1{
    font-size: 65px;
    color: rgb(54, 54, 154);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

.info a{
    text-decoration: none;
    color: blue;
    background-color: brown;
    margin: 26px 10px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}

.info a:hover{
    background: chartreuse;
}

.about{
    margin-left: 40px;
    font-size: 20px;
    color: brown;
}

.image{
    align-items: center;
    display: flex;
    gap: 1cm;
    margin-top: 20px;
}
@media(max-width: 400px) {
    .image{
        display: block;
        margin-left: 10px;
    }
}

.image img{
    width: 200px;
    height: 200px;
    border-radius: 40%;
    margin-left: 40px;
    margin-bottom: 110px;
    
}
@media(max-width: 400px) {
    .image img{
        margin-bottom: 15%;
    }
}

.image p{
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

@media(max-width:400px) {
    .image p a{
        margin-left: 70px;
    }
}

.head{
    margin-left: 40px;
    font-size: 22px;
    color: brown;
}

@media(max-width: 600px) {
    .head{
        margin-left: 15px;
    }
}

.head table th{
padding: 5% 0% 0% 0%;
color: rgb(31, 31, 141);
}

.base{
    margin-top: 40px;
    font-size: 30px;
    margin-left: 36px;
    color: brown;
}

@media(max-width :400px) {
    .base{
        margin-left: 15px;
    }
}

.con{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 20px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width :400px) {
    .con{
        margin-left: 15px;
    }
}

@media (max-width: 600px) {
    .info h1{
        font-size: 40px;
    }
}
@media (max-width: 400px) {
     ul li a{
        font-size: 7px;
    }
}

.con a{
    text-decoration: none;
    display: inline-block;
    background-color: brown;
    color: blue;
    margin: 26px 10px;
    border-radius: 10px;
    padding: 10px 18px;
    font-size: 15px;
}


.con a:hover{
    background:  chartreuse;
}